POSTGRES_DB=youindexer
POSTGRES_USER=youindexer
POSTGRES_PASSWORD=youindexer
POSTGRES_PORT=5432
DATABASE_URL=postgresql://youindexer:youindexer@localhost:5432/youindexer

REDIS_PORT=6379
REDIS_URL=redis://localhost:6379/0
